<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Graduation project</title>
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="container-fluid header">
    <div>
        <div class="col-md-12">
            <div  >

                <div class="col-md-6 col-md-offset-6">
                    <h1 class="text-center text__header"><em>Graduation project</em></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container links">
    <div>
        <div class="col-md-6 col-md-offset-1">
            <ul>
                <li class="li__links"><a href = "http://127.0.0.1:5000/movies"><p class="h2 links__text">Список фильмов</p></a></li>
                <li class="li__links"><a href = "http://127.0.0.1:5000/courses"><p class="h2 links__text">Курсы валют</p></a></li>
                <li class="li__links"><a href = "http://127.0.0.1:5000/weather"><p class="h2 links__text">Информация о погоде</p></a></li>
            </ul>
        </div>
    </div>
</div>

<footer class="footer navbar-fixed-bottom row">
    <div>
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center text__footer">2019 Bortnovskiy Gleb</div>
        </div>
    </div>
</footer>
</body>
</html>